
#stacks_in_368_page39 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_out_370_page39 {
	width: 70%;
}

#stacks_in_370_page39 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_out_375_page39 {
	width: 95%;
	margin-right:0;
}

#stacks_out_379_page39 {
	width: 95%;
	margin-right:0;
}

#stacks_out_383_page39 {
	width: 95%;
	margin-right:0;
}

#stacks_out_387_page39 {
	width: 95%;
	margin-right:0;
}
