
#stacks_in_302_page35 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_out_304_page35 {
	width: 70%;
}

#stacks_in_304_page35 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_out_309_page35 {
	width: 95%;
	margin-right:0;
}

#stacks_out_313_page35 {
	width: 95%;
	margin-right:0;
}

#stacks_out_317_page35 {
	width: 95%;
	margin-right:0;
}

#stacks_out_321_page35 {
	width: 95%;
	margin-right:0;
}
