
#stacks_in_478_page49 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_out_480_page49 {
	width: 70%;
}

#stacks_in_480_page49 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_out_485_page49 {
	width: 95%;
	margin-right:0;
}

#stacks_out_489_page49 {
	width: 95%;
	margin-right:0;
}

#stacks_out_493_page49 {
	width: 95%;
	margin-right:0;
}

#stacks_out_497_page49 {
	width: 95%;
	margin-right:0;
}
