
#stacks_in_324_page36 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_out_326_page36 {
	width: 70%;
}

#stacks_in_326_page36 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_out_331_page36 {
	width: 95%;
	margin-right:0;
}

#stacks_out_335_page36 {
	width: 95%;
	margin-right:0;
}

#stacks_out_339_page36 {
	width: 95%;
	margin-right:0;
}

#stacks_out_343_page36 {
	width: 95%;
	margin-right:0;
}
