
#stacks_in_456_page48 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_out_458_page48 {
	width: 70%;
}

#stacks_in_458_page48 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_out_463_page48 {
	width: 95%;
	margin-right:0;
}

#stacks_out_467_page48 {
	width: 95%;
	margin-right:0;
}

#stacks_out_471_page48 {
	width: 95%;
	margin-right:0;
}

#stacks_out_475_page48 {
	width: 95%;
	margin-right:0;
}
