
#stacks_in_522_page47 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_out_524_page47 {
	width: 70%;
}

#stacks_in_524_page47 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_out_529_page47 {
	width: 95%;
	margin-right:0;
}

#stacks_out_533_page47 {
	width: 95%;
	margin-right:0;
}

#stacks_out_537_page47 {
	width: 95%;
	margin-right:0;
}

#stacks_out_541_page47 {
	width: 95%;
	margin-right:0;
}
