
#stacks_in_214_page31 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_out_216_page31 {
	width: 70%;
}

#stacks_in_216_page31 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_out_221_page31 {
	width: 95%;
	margin-right:0;
}

#stacks_out_225_page31 {
	width: 95%;
	margin-right:0;
}

#stacks_out_229_page31 {
	width: 95%;
	margin-right:0;
}

#stacks_out_233_page31 {
	width: 95%;
	margin-right:0;
}
