
#stacks_in_168_page29 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_out_170_page29 {
	width: 70%;
}

#stacks_in_170_page29 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_out_173_page29 {
	width: 90%;
	margin-right:0;
}

#stacks_in_173_page29 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_out_175_page29 {
	width: 85%;
	margin-right:0;
}

#stacks_out_177_page29 {
	width: 90%;
	margin-right:0;
}

#stacks_out_179_page29 {
	width: 85%;
	margin-right:0;
}

#stacks_out_181_page29 {
	width: 90%;
	margin-right:0;
}

#stacks_out_183_page29 {
	width: 85%;
	margin-right:0;
}

#stacks_out_185_page29 {
	width: 90%;
	margin-right:0;
}

#stacks_out_187_page29 {
	width: 85%;
	margin-right:0;
}
