
#stacks_in_123_page43 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_125_page43 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_128_page43 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_out_130_page43 {
	width: 71%;
}

#stacks_in_130_page43 {
	background-color: #DADADA;
	border: solid #A5A5A5;
	border-width: 3px 3px 3px 3px;
	margin: 2px 2px 2px 2px;
	padding: 4px 4px 4px 4px;
}
