
#stacks_in_390_page37 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_out_392_page37 {
	width: 70%;
}

#stacks_in_392_page37 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_out_397_page37 {
	width: 95%;
	margin-right:0;
}

#stacks_out_401_page37 {
	width: 95%;
	margin-right:0;
}

#stacks_out_405_page37 {
	width: 95%;
	margin-right:0;
}

#stacks_out_409_page37 {
	width: 95%;
	margin-right:0;
}
