
#stacks_in_434_page41 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_out_436_page41 {
	width: 70%;
}

#stacks_in_436_page41 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_out_441_page41 {
	width: 95%;
	margin-right:0;
}

#stacks_out_445_page41 {
	width: 95%;
	margin-right:0;
}

#stacks_out_449_page41 {
	width: 95%;
	margin-right:0;
}

#stacks_out_453_page41 {
	width: 95%;
	margin-right:0;
}
