
#stacks_in_412_page40 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_out_414_page40 {
	width: 70%;
}

#stacks_in_414_page40 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_out_419_page40 {
	width: 95%;
	margin-right:0;
}

#stacks_out_423_page40 {
	width: 95%;
	margin-right:0;
}

#stacks_out_427_page40 {
	width: 95%;
	margin-right:0;
}

#stacks_out_431_page40 {
	width: 95%;
	margin-right:0;
}
