
#stacks_in_236_page32 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_out_238_page32 {
	width: 70%;
}

#stacks_in_238_page32 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_out_243_page32 {
	width: 95%;
	margin-right:0;
}

#stacks_in_243_page32 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_out_247_page32 {
	width: 95%;
	margin-right:0;
}

#stacks_out_251_page32 {
	width: 95%;
	margin-right:0;
}

#stacks_out_255_page32 {
	width: 95%;
	margin-right:0;
}
