
#stacks_in_54_page27 .stacks_left {
	float:left;
	width:61%;
}

#stacks_in_54_page27 .stacks_right {
	float:right;
	width:37%;
}
#stacks_out_56_page27 {
	width: 89%;
	margin-left:0;
}

#stacks_in_56_page27 {
	margin: 2px 2px 2px 2px;
	padding: 2px 2px 2px 2px;
}

#stacks_out_58_page27 {
	margin-left:0;
}

#stacks_out_63_page27 {
	width: 85%;
}

#stacks_in_63_page27 {
	padding: 1px 1px 1px 1px;
}

#stacks_in_65_page27 .stacks_left {
	float:left;
	width:32%;
}

#stacks_in_65_page27 .stacks_right {
	float:right;
	width:32%;
}

#stacks_in_65_page27 .stacks_middle {
	position:relative;
	margin:0 auto;
	width:32%;
}
#stacks_in_77_page27 .stacks_left {
	float:left;
	width:66%;
}

#stacks_in_77_page27 .stacks_right {
	float:right;
	width:32%;
}
#stacks_in_79_page27 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_82_page27 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_84_page27 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_77_page27 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_86_page27 .stacks_left {
	float:left;
	width:32%;
}

#stacks_in_86_page27 .stacks_right {
	float:right;
	width:32%;
}

#stacks_in_86_page27 .stacks_middle {
	position:relative;
	margin:0 auto;
	width:32%;
}