
#stacks_out_161_page45 {
	width: 82%;
}

#stacks_in_161_page45 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_163_page45 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_165_page45 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}
