
#stacks_in_258_page33 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_out_260_page33 {
	width: 70%;
}

#stacks_in_260_page33 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_out_265_page33 {
	width: 95%;
	margin-right:0;
}

#stacks_out_269_page33 {
	width: 95%;
	margin-right:0;
}

#stacks_out_273_page33 {
	width: 95%;
	margin-right:0;
}

#stacks_out_277_page33 {
	width: 95%;
	margin-right:0;
}
