
#stacks_in_147_page42 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_out_149_page42 {
	width: 85%;
	margin-left:0;
}

#stacks_in_149_page42 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_151_page42 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_154_page42 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_156_page42 {
	padding: 3px 3px 3px 3px;
}

#stacks_in_158_page42 {
	padding: 3px 3px 3px 3px;
}
