
#stacks_in_500_page46 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_out_502_page46 {
	width: 70%;
}

#stacks_in_502_page46 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_out_507_page46 {
	width: 95%;
	margin-right:0;
}

#stacks_out_511_page46 {
	width: 95%;
	margin-right:0;
}

#stacks_out_515_page46 {
	width: 95%;
	margin-right:0;
}

#stacks_out_519_page46 {
	width: 95%;
	margin-right:0;
}
