
#stacks_in_346_page38 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_out_348_page38 {
	width: 70%;
}

#stacks_in_348_page38 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_out_353_page38 {
	width: 95%;
	margin-right:0;
}

#stacks_out_357_page38 {
	width: 95%;
	margin-right:0;
}

#stacks_out_361_page38 {
	width: 95%;
	margin-right:0;
}

#stacks_out_365_page38 {
	width: 95%;
	margin-right:0;
}
