
#stacks_in_280_page34 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_out_282_page34 {
	width: 70%;
}

#stacks_in_282_page34 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_out_287_page34 {
	width: 95%;
	margin-right:0;
}

#stacks_out_291_page34 {
	width: 95%;
	margin-right:0;
}

#stacks_out_295_page34 {
	width: 95%;
	margin-right:0;
}

#stacks_out_299_page34 {
	width: 95%;
	margin-right:0;
}
