
#stacks_in_190_page30 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_out_192_page30 {
	width: 70%;
}

#stacks_in_192_page30 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_out_195_page30 {
	width: 85%;
}

#stacks_out_199_page30 {
	width: 95%;
	margin-right:0;
}

#stacks_out_203_page30 {
	width: 95%;
	margin-right:0;
}

#stacks_out_207_page30 {
	width: 95%;
	margin-right:0;
}

#stacks_out_211_page30 {
	width: 95%;
	margin-right:0;
}
